# Byte-compiled / cache files
__pycache__/
*.py[cod]
*$py.class

# VSCode settings
.vscode/

# MacOS junk files
.DS_Store

# Windows files
Thumbs.db
ehthumbs.db

# Python virtual environments
env/
venv/
.venv/

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# Log files
*.log

# Test images or temporary data (optional)
*.tmp
*.bak
